.cities-container {
  margin-top: 5rem;
}

.cities-title {
  text-align: center;
}

.cities-filters {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: flex-end;
  margin-right: 1rem;
}


.dest-title {
  color: #000;
}